html,body{
    margin:0;
    padding:0;
    height: 100%;
    background-color: rgb(31, 24, 39);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;

    h1{
        color: white;
    }

    #menu-container, .game-over-container{
        display: flex;
        margin:0 auto;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        z-index: 1;
        padding: 20px;
      
    }
    
    button {
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 16px;
        cursor: pointer;
        background-color: #61dafb; 
        color: #282c34;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }
    
    button:hover {
        background-color: #0077cc; 
    }
    
}
canvas{
    display: flex;
    align-items: center;
    margin: 50px auto;
    object-fit: contain;
    image-rendering: crisp-edges; 
}

img{
    display: none;
}

 #controls-container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px 60px;
    margin: 40px auto;
    h2{
        color: #0077cc;
    }
    .controls{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 100px;
    }
}


